<head>
  <title>Actualizar datos</title>
</head>
<body>
  <h1 class="titulo">Actualizar datos</h1>

  <div class="container">
    <form class="form-group row" (ngSubmit)="actualizaUsuario()">
      <div class="form-group col-md-12">
        <label for="nombreDeUsuario">Nombre de usuario:</label>
        <input
          type="text"
          name="nombreDeUsuario"
          id="nombreDeUsuario"
          placeholder="Nombre de usuario"
          class="form-control"
          [(ngModel)]="cuadroNombreDeUsuario"
        />
      </div>
      <div class="form-group col-md-12">
        <label for="email">Email:</label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Email"
          class="form-control"
          [(ngModel)]="cuadroEmail"
        />
      </div>
      <div class="form-group col-md-12">
        <label for="role">Rol:</label>
        <select
          class="form-control"
          [(ngModel)]="cuadroRole"
          id="role"
          name="role"
        >
          <option [ngValue]="'USER'">Usuario</option>
          <option [ngValue]="'ADMIN'">Administrador</option>
        </select>
      </div>

      <!-- Botón de submit -->
      <div class="col">
        <button type="submit" class="btn btn-primary" id="boton-actualizar">
          Acción
        </button>
      </div>
    </form>
  </div>

  <div class="boton-volver">
    <button class="btn btn-light" id="boton-volver-gestion-usuarios">
      Volver
    </button>
  </div>
</body>
