<body>
  <div class="col">
    <div class="imagen-principal col-12">
      <img
        src="https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/25ec6b15678641.5629596a8daec.jpg"
      />
    </div>
    <div class="container">
      <form class="form-group row" (ngSubmit)="register()">
        <img src="../../assets/icono.svg" alt="Icono" id="icono-contenedor" />
        <h4>Registrarse</h4>

        <!-- Nombre de usuario -->
        <label class="form-label" for="form2Example1">Nombre de usuario</label>
        <div class="form-outline mb-4">
          <input
            type="nombre_usuario"
            name="nombre_usuario"
            placeholder="Nombre de usuario"
            class="form-control"
            [(ngModel)]="nombre_usuario"
          />
        </div>

        <!-- Email -->
        <label class="form-label" for="form2Example1">Email</label>
        <div class="form-outline mb-4">
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="form-control"
            [(ngModel)]="email"
          />
        </div>

        <!-- Password  -->
        <label class="form-label" for="form2Example2">Contraseña</label>
        <div class="form-outline mb-4">
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            class="form-control"
            [(ngModel)]="password"
          />
        </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-primary btn-block mb-4">
          Registrarte
        </button>

        <div *ngIf="errorMessage" class="alert alert-danger text-center">
          {{ errorMessage }}
        </div>

        <!-- Registro -->
        <div class="text-center">
          <p>
            Ya estas registrado? <a [routerLink]="'/login'">Inicia sesión</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</body>
