body {
  background-color: #f4f4f4;
}

/* Formulario de datos de coche */
form {
  position: relative;
}

.titulo {
  text-align: center;
  padding: 30px;
}

/* Actualización de noticia */
.actualizar-noticia {
  background-color: white;
  padding: 50px;
  border: 1px solid #ccc;
}

/* Botones guardar */
.botones-finales {
  margin-top: 50px;
}
.guardar {
  width: 150px;
}

.form-group {
  margin-top: 10px;
}
