<div class="container">
  <form class="form-group row">
    <div class="form-group col-md-3">
      <label for="marca">Marca:</label>
      <input
        type="text"
        name="marca"
        id="marca"
        placeholder="Marca"
        class="form-control"
        [(ngModel)]="cuadroMarca"
        required
        pattern="[a-zA-Z0-9\s]+"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="modelo">Modelo:</label>
      <input
        type="text"
        name="modelo"
        id="modelo"
        placeholder="Modelo"
        class="form-control"
        [(ngModel)]="cuadroModelo"
        required
        pattern="[a-zA-Z0-9\s]+"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="anyo">Año:</label>
      <input
        type="number"
        name="anyo"
        id="anyo"
        placeholder="Año"
        class="form-control"
        [(ngModel)]="cuadroAnyo"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="caballos">Caballos:</label>
      <input
        type="number"
        name="caballos"
        id="caballos"
        placeholder="Caballos"
        class="form-control"
        [(ngModel)]="cuadroCaballos"
        required
      />
    </div>

    <div class="col">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="agregarCoche()"
        style="margin-top: 20px"
      >
        Crear
      </button>
    </div>
  </form>
</div>

<div style="text-align: center">
  <button class="btn btn-secondary" (click)="volverHome()">Volver</button>
</div>
