body {
  background-color: #f4f4f4;
}

/* Sidebar */
.sidebar {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

/* Imagen de usuario */
.avatar {
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 10px;
}

/* Título */
.titulo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

/* Separa los botones verticalmente */
td .btn {
  margin-bottom: 10px;
}

/* Anchura botones */
button {
  width: 90px;
}
