<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col">
      <h4>{{ noticiadelista.titulo }}</h4>
      <div class="d-flex align-items-center">
        <!-- Icono de favorito -->
        <i class="far fa-heart mr-3"></i>
        <!-- Icono de compartir -->
        <i class="fas fa-share-alt"></i>
      </div>
      <div class="coche-content d-flex align-items-center">
        <div class="coche-details ml-4">
          <!-- Detalles del coche -->
          <p>{{ noticiadelista.contenido }}</p>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
