<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
>
  <div class="col-md-3">
    <a
      [routerLink]="'/'"
      class="d-inline-flex link-body-emphasis text-decoration-none"
    >
      <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a [routerLink]="'/'" class="nav-link px-2">Inicio</a>
    </li>
    <li><a [routerLink]="'/catalogo'" class="nav-link px-2">Catálogo</a></li>
    <li><a [routerLink]="'/explorar'" class="nav-link px-2">Explorar</a></li>
    <li><a [routerLink]="'/vender'" class="nav-link px-2">Vender</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <ng-container *ngIf="estaLogueado; else loginButtons">
      <!-- Perfil -->
      <a class="perfil" [routerLink]="'/perfil'"
        ><span class="me-2">{{ usuario?.nombre_usuario }}</span></a
      >
      <!-- Mostrar botón de Logout si está logueado -->
      <button type="button" class="btn btn-primary me-2" (click)="logout()">
        Logout
      </button>
    </ng-container>
    <ng-template #loginButtons>
      <!-- Mostrar botones de Login y Sign-up si no está logueado -->
      <button
        type="button"
        class="btn btn-outline-primary me-2"
        [routerLink]="'/login'"
      >
        Iniciar Sesión
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [routerLink]="'/registrarse'"
      >
        Registrarse
      </button>
    </ng-template>
  </div>
</header>
