header {
  flex-wrap: wrap;
  text-align: center;
}

.perfil {
  margin-right: 50px;
}

.nav-item {
  font-size: 20px;
}

/* Cambian el color del texto al pasar el ratón por encima */
.perfil:hover {
  color: white;
}

.nav-link.btn:hover {
  color: white;
}

.shadow-sm-red {
  box-shadow: 0 0.125rem 0.25rem rgba(255, 0, 0, 0.2);
}
