body {
  background-color: white;
}

/* Botón perfil*/
.perfil {
  margin-right: 50px;
}

.nav-item {
  font-size: 20px;
}

/* Cambian el color del texto al pasar el ratón por encima */
.perfil:hover {
  color: white;
}

.nav-link.btn:hover {
  color: white;
}

/* Icono */
#icono {
  margin-left: 3%;
}

#icono img {
  height: 50px;
  width: auto;
}
