.titulo {
  text-align: center;
}

/* Texto al no encontrar coches despues de filtrar */
.coches-no-encontrados {
  margin-top: 100px;
  text-align: center;
}

/* Boton para volver al inicio al no encontrar coches despues de filtrar */
.coches-no-encontrados button {
  margin-top: 200px;
}

/* Estilos para el contenedor de paginación */
.paginacion {
  text-align: center;
}

/* Estilos para los botones de paginación */
.paginacion button {
  margin-left: 15px;
  margin-right: 15px;
}
