<div class="container">
  <div class="row">
    <h2 class="titulo">Perfil</h2>
    <!-- Sidebar -->
    <div class="col-md-2">
      <div class="sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/perfil'">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/gestionUsuarios'"
              >Gestión de Usuarios</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Contenido de Perfil -->
    <div class="col-md-8">
      <div *ngIf="usuario" class="perfil-container">
        <div class="usuario-info">
          <p>
            <strong>Nombre de Usuario:</strong> {{ usuario.nombre_usuario }}
          </p>
          <p><strong>Email:</strong> {{ usuario.email }}</p>
          <p><strong>Contraseña:</strong> {{ usuario.password }}</p>
          <p>
            <strong>Tipo de usuario: </strong>
            <span *ngIf="usuario.role === 'ADMIN'">Administrador</span>
            <span *ngIf="usuario.role === 'USER'">Usuario</span>
          </p>
          <img
            [src]="usuario.imagen_usuario"
            alt="Imagen de Usuario"
            class="avatar"
          />
        </div>
      </div>
    </div>
  </div>
</div>
