body {
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: space-between;
}

/* Sidebar */
.sidebar {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  border: 1px solid #ccc;
}

.nav {
  width: 100%;
}

/* Título */
.titulo {
  text-align: center;
  padding: 50px;
}

/* Estilo para el coches no encontrados */
.coches * {
  margin: 20px auto;
  margin-left: 50px;
}

#boton-ir-catalogo {
  margin-top: 50px;
  margin-bottom: 400px;
}
