<body>
  <h2 class="titulo">Coches Favoritos</h2>
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3">
        <div class="sidebar">
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a
                [routerLink]="'/perfil'"
                class="nav-link link-dark"
                aria-current="page"
                >Perfil</a
              >
            </li>
            <li *ngIf="esAdmin">
              <a [routerLink]="'/gestionUsuarios'" class="nav-link link-dark"
                >Gestión de Usuarios</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLink]="'/cochesUsuario'"
                class="nav-link link-dark"
                aria-current="page"
                >Coches Publicados</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLink]="'/favoritosUsuario'"
                class="nav-link active"
                aria-current="page"
                >Favoritos</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="coches col-md-9 offset-md-3">
        <div *ngIf="cochesFavoritos.length === 0" class="coches-no-encontrados">
          <h4>No tienes ningún coche en favoritos</h4>
          <button
            class="btn btn-primary"
            id="boton-ir-catalogo"
            (click)="irACatalogo()"
          >
            Ver Catálogo
          </button>
        </div>
        <div class="row" *ngIf="cochesFavoritos.length > 0">
          <div
            class="coche-favorito col-md-6"
            *ngFor="let coche of cochesFavoritos"
          >
            <app-coche-hijo [cochedelista]="coche"></app-coche-hijo>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
