body {
  background-color: #f4f4f4;
}

.container {
  background-color: white;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.boton-guardar {
  margin-top: 50px;
  margin-right: 10px;
}

.boton-volver {
  margin-top: 50px;
}
