body {
  background-color: #f4f4f4;
}

.imagen-principal img {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 900px;
  object-fit: cover;
}

#icono-contenedor {
  margin-bottom: 50px;
}

/* Cuadro blanco */
.contenedor {
  position: absolute;
  width: 60%;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* Cuadro blanco */
.contenedor img {
  width: 100px;
  height: 100px;
}

.form-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

/* Estilos para el botón */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el contenedor principal */
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.btn-container {
  margin-top: 20px;
}

/* Estilos para el botón de buscar principal */
#boton-buscar button {
  width: 250px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  /* Sombra */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

/* Media queries */
@media screen and (max-width: 850px) {
  .contenedor {
    width: 90%;
    padding: 20px;
  }

  .form-select {
    margin-top: 10px; /* Reduce el margen superior para una mejor distribución */
  }

  .col-12 {
    width: 100%;
  }

  .imagen-principal img {
    width: auto;
    height: 100%;
  }
}
