<body>
  <div class="col" style="text-align: center">
    <div class="imagen-principal col-12">
      <img
        src="https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/25ec6b15678641.5629596a8daec.jpg"
      />
    </div>

    <div class="contenedor">
      <img src="../../assets/icono.svg" alt="Icono" id="icono-contenedor" />
      <div class="select-container">
        <div *ngIf="!cargandoCoches">
          <select
            class="form-select"
            name="marca"
            id="marca"
            [value]="marcaSeleccionada"
            [(ngModel)]="marcaSeleccionada"
            (change)="onMarcaSeleccionada()"
          >
            <option value="" disabled selected>Marca</option>
            <option *ngFor="let marca of obtenerMarcas()" [value]="marca">
              {{ marca }}
            </option>
          </select>
        </div>

        <div *ngIf="!cargandoCoches">
          <select
            class="form-select"
            name="modelo"
            id="modelo"
            [(ngModel)]="modeloSeleccionado"
            [disabled]="!marcaSeleccionada"
          >
            <option value="" disabled selected>Modelo</option>
            <option *ngFor="let modelo of modelos" [value]="modelo">
              {{ modelo }}
            </option>
          </select>
        </div>

        <select
          class="form-select"
          name="Anyo"
          id="Anyo"
          [(ngModel)]="anyoSeleccionado"
          required
        >
          <option value="" selected disabled>Año</option>
          <option *ngFor="let anyo of anyos" [value]="anyo">{{ anyo }}</option>
        </select>

        <select
          class="form-select"
          name="Precio"
          id="Precio"
          [(ngModel)]="precioMaxSeleccionado"
          required
        >
          <option value="" selected disabled>Precio hasta (€)</option>
          <option *ngFor="let precio of precios">{{ precio }}</option>
        </select>
      </div>

      <div class="btn-container" id="boton-buscar">
        <button class="btn btn-primary" (click)="buscarCoches()">Buscar</button>
      </div>
    </div>
  </div>
</body>
