<h1 class="titulo">Actualizar coche</h1>

<div class="container">
  <form class="form-group row" (ngSubmit)="actualizaCoche()">
    <div class="form-group col-md-3">
      <label for="marca">Marca:</label>
      <input
        type="text"
        name="marca"
        id="marca"
        placeholder="Marca"
        class="form-control"
        [(ngModel)]="cuadroMarca"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="modelo">Modelo:</label>
      <input
        type="text"
        name="modelo"
        id="modelo"
        placeholder="Modelo"
        class="form-control"
        [(ngModel)]="cuadroModelo"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="imagen_principal">Imagen Principal:</label>
      <input
        type="text"
        name="imagen_principal"
        id="imagen_principal"
        placeholder="URL de la imagen principal"
        class="form-control"
        [(ngModel)]="cuadroImagenPrincipal"
        required
      />
    </div>
    <!-- Agregar los campos restantes aquí -->
    <div class="form-group col-md-3">
      <label for="precio">Precio:</label>
      <input
        type="number"
        name="precio"
        id="precio"
        placeholder="Precio"
        class="form-control"
        [(ngModel)]="cuadroPrecio"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="anyo">Año:</label>
      <input
        type="number"
        name="anyo"
        id="anyo"
        placeholder="Año"
        class="form-control"
        [(ngModel)]="cuadroAnyo"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="potencia">Potencia:</label>
      <input
        type="number"
        name="potencia"
        id="potencia"
        placeholder="Potencia"
        class="form-control"
        [(ngModel)]="cuadroPotencia"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="kilometraje">Kilometraje:</label>
      <input
        type="number"
        name="kilometraje"
        id="kilometraje"
        placeholder="Kilometraje"
        class="form-control"
        [(ngModel)]="cuadroKilometraje"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="combustible">Combustible:</label>
      <input
        type="text"
        name="combustible"
        id="combustible"
        placeholder="Combustible"
        class="form-control"
        [(ngModel)]="cuadroCombustible"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="consumo">Consumo:</label>
      <input
        type="text"
        name="consumo"
        id="consumo"
        placeholder="Consumo"
        class="form-control"
        [(ngModel)]="cuadroConsumo"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="tipoCambio">Tipo de cambio:</label>
      <input
        type="text"
        name="tipoCambio"
        id="tipoCambio"
        placeholder="Tipo de cambio"
        class="form-control"
        [(ngModel)]="cuadroTipoCambio"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="categoria">Categoría:</label>
      <input
        type="text"
        name="categoria"
        id="categoria"
        placeholder="Categoría"
        class="form-control"
        [(ngModel)]="cuadroCategoria"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="tipoVehiculo">Tipo de vehículo:</label>
      <input
        type="text"
        name="tipoVehiculo"
        id="tipoVehiculo"
        placeholder="Tipo de vehículo"
        class="form-control"
        [(ngModel)]="cuadroTipoVehiculo"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="traccion">Tracción:</label>
      <input
        type="text"
        name="traccion"
        id="traccion"
        placeholder="Tracción"
        class="form-control"
        [(ngModel)]="cuadroTraccion"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="plazas">Plazas:</label>
      <input
        type="number"
        name="plazas"
        id="plazas"
        placeholder="Plazas"
        class="form-control"
        [(ngModel)]="cuadroPlazas"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="puertas">Puertas:</label>
      <input
        type="number"
        name="puertas"
        id="puertas"
        placeholder="Puertas"
        class="form-control"
        [(ngModel)]="cuadroPuertas"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="garantia">Garantía:</label>
      <input
        type="text"
        name="garantia"
        id="garantia"
        placeholder="Garantía"
        class="form-control"
        [(ngModel)]="cuadroGarantia"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="peso">Peso:</label>
      <input
        type="number"
        name="peso"
        id="peso"
        placeholder="Peso"
        class="form-control"
        [(ngModel)]="cuadroPeso"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="color">Color:</label>
      <input
        type="text"
        name="color"
        id="color"
        placeholder="Color"
        class="form-control"
        [(ngModel)]="cuadroColor"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="numeroMarchas">Número de marchas:</label>
      <input
        type="number"
        name="numeroMarchas"
        id="numeroMarchas"
        placeholder="Número de marchas"
        class="form-control"
        [(ngModel)]="cuadroNumeroMarchas"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="numeroCilindros">Número de cilindros:</label>
      <input
        type="number"
        name="numeroCilindros"
        id="numeroCilindros"
        placeholder="Número de cilindros"
        class="form-control"
        [(ngModel)]="cuadroNumeroCilindros"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="ciudad">Ciudad:</label>
      <input
        type="text"
        name="ciudad"
        id="ciudad"
        placeholder="Ciudad"
        class="form-control"
        [(ngModel)]="cuadroCiudad"
        required
      />
    </div>
    <div class="form-group col-md-12">
      <label for="descripcion">Descripción:</label>
      <textarea
        name="descripcion"
        id="descripcion"
        placeholder="Descripción"
        class="form-control"
        [(ngModel)]="cuadroDescripcion"
        required
      ></textarea>
    </div>
    <div class="form-group col-md-3">
      <label for="telefonoAdjunto">Teléfono Adjunto:</label>
      <input
        type="number"
        name="telefonoAdjunto"
        id="telefonoAdjunto"
        placeholder="Teléfono Adjunto"
        class="form-control"
        [(ngModel)]="cuadroTelefonoAdjunto"
        required
      />
    </div>
    <div class="form-group col-md-3">
      <label for="emailAdjunto">Email Adjunto:</label>
      <input
        type="email"
        name="emailAdjunto"
        id="emailAdjunto"
        placeholder="Email Adjunto"
        class="form-control"
        [(ngModel)]="cuadroEmailAdjunto"
        required
      />
    </div>
    <div class="botones">
      <!-- Botón para actualizar -->
      <button type="submit" id="boton-actualizar" class="btn btn-primary">
        Actualizar
      </button>

      <!-- Botón para volver al catálogo -->
      <button
        class="btn btn-light"
        id="boton-volver-catalogo"
        (click)="volverACatalogo()"
      >
        Volver
      </button>
    </div>
  </form>
</div>
