<footer class="text-white text-center text-lg-start bg-secondary">
  <div class="container p-4">
    <div class="row mt-4">
      <!-- Sección sobre nosotros -->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 text-dark">Sobre nosotros</h5>
        <p class="text-dark">
          Navega por AutoMobile y encontrarás el coche que tanto deseas.
        </p>
        <p class="text-dark">
          Somos una empresa que buscamos ofrecerte las mejores ofertas de coches
          al mejor precio.
        </p>
        <div class="mt-4 text-dark">
          <a
            type="button"
            class="btn btn-floating btn-light btn-lg me-1"
            href="https://www.facebook.com/"
            ><i class="bi bi-facebook"></i
          ></a>
          <a
            type="button"
            class="btn btn-floating btn-light btn-lg me-1"
            href="https://x.com/"
            ><i class="bi bi-twitter-x"></i
          ></a>
          <a
            type="button"
            class="btn btn-floating btn-light btn-lg me-1"
            href="https://www.instagram.com/"
            ><i class="bi bi-instagram"></i
          ></a>
          <a
            type="button"
            class="btn btn-floating btn-light btn-lg me-1"
            href="https://www.linkedin.com/"
            ><i class="bi bi-linkedin"></i
          ></a>
          <a
            type="button"
            class="btn btn-floating btn-light btn-lg me-1"
            href="https://www.google.com"
            ><i class="bi bi-google"></i
          ></a>
        </div>
      </div>

      <!-- Sección navegar -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1 text-dark">Navegar</h5>
        <ul class="fa-ul list-unstyled text-dark" style="margin-left: 1.65em">
          <li class="mb-3">
            <span class="fa-li"><i class="bi bi-house"></i></span
            ><span class="ms-2"
              ><a [routerLink]="'/'" class="text-dark text-decoration-none"
                >Inicio</a
              ></span
            >
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="bi bi-car-front"></i></span
            ><span class="ms-2"
              ><a
                [routerLink]="'/catalogo'"
                class="text-dark text-decoration-none"
                >Catálogo</a
              ></span
            >
          </li>
          <li class="mb-3" *ngIf="!estaLogueado">
            <span class="fa-li"><i class="bi bi-box-arrow-right"></i></span
            ><span class="ms-2"
              ><a [routerLink]="'/login'" class="text-dark text-decoration-none"
                >Iniciar Sesión</a
              ></span
            >
          </li>
          <li class="mb-3" *ngIf="!estaLogueado">
            <span class="fa-li"><i class="bi bi-box-arrow-in-right"></i></span
            ><span class="ms-2"
              ><a
                [routerLink]="'/registrarse'"
                class="text-dark text-decoration-none"
                >Registrarse</a
              ></span
            >
          </li>
          <li class="mb-3" *ngIf="estaLogueado">
            <span class="fa-li"><i class="bi bi-box-arrow-right"></i></span
            ><span class="ms-2"
              ><a
                [routerLink]="'/explorar'"
                class="text-dark text-decoration-none"
                >Explorar</a
              ></span
            >
          </li>
          <li class="mb-3" *ngIf="estaLogueado">
            <span class="fa-li"><i class="bi bi-box-arrow-in-right"></i></span
            ><span class="ms-2"
              ><a
                [routerLink]="'/publicar'"
                class="text-dark text-decoration-none"
                >Publicar</a
              ></span
            >
          </li>
        </ul>
      </div>

      <!-- Sección Suscribirse en AutoMobile -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <form>
          <h5 class="text-dark">Suscribirse en AutoMobile</h5>
          <p class="text-dark">Suscribirse para recibir nuestras noticias.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email</label>
            <input
              id="newsletter1"
              type="text"
              class="form-control"
              placeholder="Email"
            />
            <button class="btn btn-primary" type="button">Subscribirse</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
