<footer class="py-5">
  <div class="row">
    <div class="col-md-3">
      <h5>Navegar</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a [routerLink]="'/'" class="nav-link p-0 text-muted">Inicio</a>
        </li>
        <li class="nav-item mb-2">
          <a [routerLink]="'/catalogo'" class="nav-link p-0 text-muted"
            >Catálogo</a
          >
        </li>
        <li class="nav-item mb-2">
          <a [routerLink]="'/explorar'" class="nav-link p-0 text-muted"
            >Explorar</a
          >
        </li>
        <li class="nav-item mb-2">
          <a [routerLink]="'/vender'" class="nav-link p-0 text-muted">Vender</a>
        </li>
        <li class="nav-item mb-2">
          <a [routerLink]="'/sobre'" class="nav-link p-0 text-muted"
            >Sobre Nosotros</a
          >
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      <h5>Servicios</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a [routerLink]="'/perfil'" class="nav-link p-0 text-muted">Perfil</a>
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      <h5>Clientes</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a [routerLink]="'/login'" class="nav-link p-0 text-muted"
            >Iniciar Sesión</a
          >
        </li>
        <li class="nav-item mb-2">
          <a [routerLink]="'/registrarse'" class="nav-link p-0 text-muted"
            >Registrarse</a
          >
        </li>
        <li class="nav-item mb-2">
          <a [routerLink]="'/contactar'" class="nav-link p-0 text-muted"
            >Contactar</a
          >
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      <form>
        <h5>Subscribirse en AutoMobile</h5>
        <p>Subscribirse para recibir nuestras noticias.</p>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
          <label for="newsletter1" class="visually-hidden">Email</label>
          <input
            id="newsletter1"
            type="text"
            class="form-control"
            placeholder="Email"
          />
          <button class="btn btn-primary" type="button">Subscribirse</button>
        </div>
      </form>
    </div>
  </div>
</footer>
