body {
  background-color: #f4f4f4;
}

/* Contenedor general */
.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Creación de coche */
.crear-coche {
  background-color: white;
  padding: 50px;
}

/* Sidebar de navegación */
.sidebar {
  padding: 50px;
}

/* Color de inputs */
.form-group input,
select {
  border: 1px solid #949494;
}

/* Separacion entre inputs */
.form-group {
  margin-top: 10px;
}

.titulo {
  text-align: center;
}

/* Botones */
#boton-crear {
  margin-top: 20px;
  margin-right: 40px;
}

#boton-volver {
  text-align: center;
}

#boton-volver-inicio {
  margin-bottom: 50px;
}

/*Imagen principal*/
.imagen-principal img {
  width: 700px;
  height: auto;
  text-align: center;
}

hr {
  margin-top: 50px;
}
