body {
  background-color: #f4f4f4;
  padding: 50px;
}

.container {
  background-color: white;
  padding: 50px;
}

.titulo {
  text-align: center;
}

#boton-crear {
  margin-top: 20px;
  margin-right: 40px;
}

#boton-volver {
  text-align: center;
}

#boton-volver-inicio {
  margin-bottom: 50px;
}

/*Imagen principal*/
.imagen-principal img {
  width: 700px;
  height: auto;
  text-align: center;
}

hr {
  margin-top: 50px;
}
