body {
  background-color: #f4f4f4;
}

.row {
  width: 100%;
}

.coche {
  min-width: 300px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.nav {
  width: 100%;
}

/* Título */
.titulo {
  text-align: center;
  padding: 50px;
}

#boton-ir-vender {
  margin-top: 50px;
  margin-bottom: 400px;
}
