<body>
  <div class="container">
    <div class="row">
      <h2 class="titulo">Coches Publicados</h2>
      <!-- Sidebar -->

      <div class="col-md-2">
        <div class="sidebar">
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a
                [routerLink]="'/perfil'"
                class="nav-link active"
                aria-current="page"
              >
                Perfil
              </a>
            </li>
            <li *ngIf="esAdmin">
              <a [routerLink]="'/gestionUsuarios'" class="nav-link link-dark">
                Gestión de Usuarios
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="'/cochesUsuario'"
                class="nav-link"
                aria-current="page"
              >
                Coches
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="'/favoritosUsuario'"
                class="nav-link"
                aria-current="page"
              >
                Favoritos
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="coches.length === 0" class="col-12">
        <div class="coches-no-encontrados">
          <h4>
            No se encontraron coches que coincidan con los filtros
            seleccionados.
          </h4>
          <button
            class="btn btn-primary"
            id="boton-volver-inicio"
            (click)="volverAInicio()"
          >
            Volver a Inicio
          </button>
        </div>
      </div>
      <div class="col-md-6" *ngFor="let coche of cochesPaginados">
        <app-coche-hijo [cochedelista]="coche"></app-coche-hijo>
      </div>
    </div>
  </div>
</body>
