<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="coche-info-container border rounded p-4">
        <div
          class="coche-header d-flex justify-content-between align-items-center"
        >
          <h4>{{ cochedelista.marca }} {{ cochedelista.modelo }}</h4>
          <div class="d-flex align-items-center">
            <!-- Icono de favorito -->
            <i class="far fa-heart mr-3"></i>
            <!-- Icono de compartir -->
            <i class="fas fa-share-alt"></i>
          </div>
        </div>
        <div class="coche-content d-flex align-items-center">
          <!-- Imagen del coche -->
          <img
            [src]="
              cochedelista.imagenes.length > 0
                ? cochedelista.imagenes[0].imagen_url
                : 'https://i.pinimg.com/736x/50/e8/ae/50e8ae16afb7509d86da75259ba6a154.jpg'
            "
            alt="Imagen de coche"
            class="coche-imagen"
          />
          <div class="coche-details ml-4">
            <!-- Detalles del coche -->
            <p><strong>Precio:</strong> {{ cochedelista.precio }}</p>
            <p><strong>Año:</strong> {{ cochedelista.anyo }}</p>
            <p><strong>Potencia:</strong> {{ cochedelista.potencia }}</p>
            <p><strong>Kilometraje:</strong> {{ cochedelista.kilometraje }}</p>
            <p><strong>Peso:</strong> {{ cochedelista.peso }}</p>
            <p><strong>Combustible:</strong> {{ cochedelista.combustible }}</p>
            <p><strong>Color:</strong> {{ cochedelista.color }}</p>
          </div>
        </div>
        <div class="coche-description mt-3">
          <!-- Descripción del coche -->
          <p>{{ cochedelista.descripcion }}</p>
        </div>
        <div class="coche-actions mt-3">
          <button class="btn btn-primary mr-3" [routerLink]="['/ver', id]">
            Ver Coche
          </button>

          <button
            class="btn btn-secondary"
            [routerLink]="['/actualiza', id]"
            [queryParams]="{ accion: '1' }"
            *ngIf="estaLogueado()"
          >
            Actualizar
          </button>
          <button
            class="btn btn-danger ml-3"
            [routerLink]="['/actualiza', id]"
            [queryParams]="{ accion: '2' }"
            *ngIf="estaLogueado()"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
