<div class="container">
  <div class="caja">
    <div class="coche-info-container">
      <!-- Imagen del coche ocupando toda la caja -->
      <a [routerLink]="['/verCoche', cochedelista.id]" class="coche-link"
        ><img
          [src]="
            cochedelista.imagenPrincipal
              ? cochedelista.imagenPrincipal
              : 'https://i.pinimg.com/736x/50/e8/ae/50e8ae16afb7509d86da75259ba6a154.jpg'
          "
          alt="Imagen de coche"
          class="coche-imagen"
        />

        <!-- Contenedor para el texto -->
        <div class="coche-texto">
          <h4>{{ cochedelista.marca }} {{ cochedelista.modelo }}</h4>
          <!-- Detalles del coche -->
          <div class="coche-precio">
            <h5>€ {{ cochedelista.precio }},-</h5>
          </div>

          <div class="row">
            <div class="col-md-6">
              <p><i class="bi bi-calendar-date"></i> {{ cochedelista.anyo }}</p>
            </div>
            <div class="col-md-6">
              <p>
                <i class="bi bi-speedometer"></i> {{ cochedelista.potencia }} CV
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <i class="bi bi-car-front"></i>
                {{ cochedelista.kilometraje }} KM
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <i class="bi bi-fuel-pump"></i> {{ cochedelista.combustible }}
              </p>
            </div>
            <div class="col-md-6">
              <p><i class="bi bi-palette"></i> {{ cochedelista.color }}</p>
            </div>
          </div>
        </div>
      </a>
      <div class="coche-actions mt-3">
        <!-- Acciones -->
        <button
          class="btn btn-primary mr-3"
          [routerLink]="['/verCoche', cochedelista.id]"
          *ngIf="esAdmin"
        >
          Ver Coche
        </button>

        <button
          class="btn btn-warning"
          [routerLink]="['/actualiza', cochedelista.id]"
          *ngIf="estaLogueado && esAdmin"
        >
          Actualizar
        </button>
        <button
          class="btn btn-danger ml-3"
          *ngIf="cochedelista.id !== undefined && estaLogueado && esAdmin"
          (click)="eliminarCoche(cochedelista.id)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
