<!DOCTYPE html>
<div class="container">
  <div *ngIf="coche" class="coche-info-container">
    <!-- Imagen del coche -->
    <div class="row justify-content-start">
      <div class="col-8">
        <div class="coche-image">
          <img
            *ngIf="coche.imagenes.length > 0"
            [src]="coche.imagenes[0].imagen_url"
            alt="Imagen de coche"
            class="coche-imagen"
          />
        </div>
      </div>

      <div class="col-4">
        <!-- Favoritos - compartir -->
        <div class="row">
          <div class="col-6">
            <div class="acciones">
              <p>Añadir a favoritos</p>
            </div>
          </div>
          <div class="col-6">
            <div class="acciones">
              <i class="bi bi-share"></i>
              <p>Compartir</p>
            </div>
          </div>
        </div>

        <!-- Marca-modelo -->
        <div class="coche-marca">
          <h3>{{ coche.marca }} {{ coche.modelo }}</h3>
        </div>

        <!-- Ciudad -->
        <div class="coche-ciudad">
          <h5>{{ coche.ciudad }}</h5>
        </div>
        <hr />

        <!-- Precio -->
        <div class="coche-price text-left">
          <h4>€ {{ coche.precio }},-</h4>
        </div>

        <hr />

        <div class="botones">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary">Contactar</button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary">EMAIL/TLF</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Detalles del coche -->
      <div class="coche-details">
        <div class="col-8">
          <div class="coche-specs">
            <div class="row">
              <div class="col-4" id="anyo">
                <h5><strong>Año </strong> {{ coche.anyo }}</h5>
              </div>
              <div class="col-4" id="potencia">
                <h5><strong>Potencia </strong> {{ coche.potencia }}</h5>
              </div>
              <div class="col-4" id="kilometraje">
                <h5><strong>Kilometraje </strong> {{ coche.kilometraje }}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-4" id="peso">
                <h5><strong>Peso </strong> {{ coche.peso }}</h5>
              </div>
              <div class="col-4" id="combustible">
                <h5><strong>Combustible </strong> {{ coche.combustible }}</h5>
              </div>
              <div class="col-4" id="color">
                <h5><strong>Color </strong> {{ coche.color }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <!-- Datos básicos del coche -->
      <div class="coche-datos-basicos mt-3">
        <div class="row">
          <div class="col-4"><h3>Datos básicos</h3></div>
          <div class="col-8">
            <h5><strong>Categoría </strong>{{ coche.categoria }}</h5>
            <h5><strong>Tipo de vehículo </strong>{{ coche.tipo_vehiculo }}</h5>
            <h5><strong>Tracción </strong>{{ coche.traccion }}</h5>
            <h5><strong>Plazas </strong>{{ coche.plazas }}</h5>
            <h5><strong>Puertas </strong>{{ coche.puertas }}</h5>
            <h5><strong>Color </strong>{{ coche.color }}</h5>
          </div>
        </div>
      </div>

      <hr />

      <!-- Historial del coche -->
      <div class="coche-historial mt-3">
        <div class="row">
          <div class="col-4"><h3>Historial</h3></div>
          <div class="col-8">
            <h5><strong>Kilometraje </strong>{{ coche.kilometraje }}</h5>
            <h5><strong>Año </strong>{{ coche.anyo }}</h5>
            <h5><strong>Garantía </strong>{{ coche.garantia }}</h5>
          </div>
        </div>
      </div>

      <hr />

      <!-- Descripción del coche -->
      <div class="coche-description mt-3">
        <div class="row">
          <div class="col-4"><h3>Descripción</h3></div>
          <div class="col-8">
            <h5><strong>Combustible </strong>{{ coche.descripcion }}</h5>
          </div>
        </div>
      </div>

      <!-- Botones de acción -->
      <div class="botones-accion">
        <div class="col-12">
          <div class="coche-actions mt-3">
            <button
              class="btn btn-secondary mr-3"
              [routerLink]="['/actualiza', id]"
              [queryParams]="{ accion: '1' }"
              *ngIf="estaLogueado()"
            >
              Editar
            </button>
            <button
              class="btn btn-danger"
              [routerLink]="['/actualiza', id]"
              [queryParams]="{ accion: '2' }"
              *ngIf="estaLogueado()"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
