<div class="container">
  <div *ngIf="coche" class="coche-info-container">
    <!-- Imagen del coche -->
    <div class="row justify-content-start">
      <div class="col-8">
        <div class="coche-image">
          <img
            [src]="
              coche.imagen_principal
                ? coche.imagen_principal
                : 'https://i.pinimg.com/736x/50/e8/ae/50e8ae16afb7509d86da75259ba6a154.jpg'
            "
            alt="Imagen de coche"
            class="coche-imagen"
          />
        </div>
      </div>

      <div class="col-4">
        <!-- Favoritos - compartir -->
        <div class="row">
          <div class="col-6">
            <div class="acciones">
              <a
                ><p><i class="bi bi-star"></i> Añadir a favoritos</p></a
              >
            </div>
          </div>
          <div class="col-6">
            <div class="acciones">
              <a
                ><p><i class="bi bi-share"></i> Compartir</p></a
              >
            </div>
          </div>
        </div>

        <!-- Marca-modelo -->
        <div class="coche-marca">
          <h3>{{ coche.marca }} {{ coche.modelo }}</h3>
        </div>

        <!-- Ciudad -->
        <div class="coche-ciudad">
          <h5>{{ coche.ciudad }}</h5>
        </div>
        <hr />

        <!-- Precio -->
        <div class="coche-price text-left">
          <h4>€ {{ coche.precio }},-</h4>
        </div>

        <hr />

        <div class="botones">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary" (click)="mostrarModal()">
                Contactar
              </button>

              <!-- Modal del formulario -->
              <div
                class="modal"
                [class.d-block]="mostrar"
                tabindex="-1"
                role="dialog"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Contactar con el vendedor</h5>
                      <button
                        class="btn btn-danger"
                        id="cerrarFormulario"
                        data-dismiss="modal"
                        aria-label="Cerrar"
                        (click)="ocultarModal()"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- Aquí va tu formulario -->
                      <form (ngSubmit)="enviarMensaje()">
                        <div class="form-group">
                          <label for="nombre">Nombre</label>
                          <input
                            type="text"
                            class="form-control"
                            id="nombre"
                            name="nombre"
                            placeholder="Tu nombre"
                            [(ngModel)]="nombre"
                            required
                          />
                        </div>
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Tu email"
                            [(ngModel)]="email"
                            required
                          />
                        </div>
                        <div class="form-group">
                          <label for="telefono">Teléfono (opcional)</label>
                          <input
                            type="number"
                            class="form-control"
                            id="telefono"
                            name="telefono"
                            placeholder="Tu telefono"
                            [(ngModel)]="numero"
                            required
                          />
                        </div>
                        <div class="form-group">
                          <label for="mensaje">Mensaje</label>
                          <textarea
                            class="form-control"
                            id="mensaje"
                            name="mensaje"
                            rows="4"
                            placeholder="Tu mensaje"
                            [(ngModel)]="mensaje"
                            required
                          ></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">
                          Enviar
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <button class="btn btn-primary" (click)="cambiarTexto()">
                {{ textoBoton }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Detalles del coche -->
      <div class="coche-details">
        <div class="col-8">
          <div class="coche-specs">
            <div class="row">
              <div class="col-4" id="anyo">
                <h5><strong>Año</strong></h5>
                <p>
                  <i class="bi bi-calendar-date"></i>
                  {{ coche.anyo }}
                </p>
              </div>
              <div class="col-4" id="potencia">
                <h5><strong>Potencia</strong></h5>
                <p>
                  <i class="bi bi-speedometer"></i>
                  {{ coche.potencia }}
                </p>
              </div>
              <div class="col-4" id="kilometraje">
                <h5><strong>Kilometraje</strong></h5>
                <p>
                  <i class="bi bi-car-front"></i>
                  {{ coche.kilometraje }}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-4" id="combustible">
                <h5><strong>Combustible</strong></h5>
                <p>
                  <i class="bi bi-fuel-pump"></i>
                  {{ coche.combustible }}
                </p>
              </div>
              <div class="col-4" id="color">
                <h5><strong>Color</strong></h5>
                <p>
                  <i class="bi bi-palette"></i>
                  {{ coche.color }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <!-- Datos básicos del coche -->
      <div class="coche-datos-basicos mt-3">
        <div class="row">
          <div class="col-4"><h3>Datos básicos</h3></div>
          <div class="col-8">
            <h5>
              Categoría <strong>{{ coche.categoria }}</strong>
            </h5>
            <h5>
              Tipo de vehículo <strong>{{ coche.tipoVehiculo }}</strong>
            </h5>
            <h5>
              Tracción <strong>{{ coche.traccion }}</strong>
            </h5>
            <h5>
              Plazas <strong>{{ coche.plazas }}</strong>
            </h5>
            <h5>
              Puertas <strong>{{ coche.puertas }}</strong>
            </h5>
            <h5>
              Color <strong>{{ coche.color }}</strong>
            </h5>
            <h5>
              Peso <strong>{{ coche.peso }}</strong>
            </h5>
          </div>
        </div>
      </div>

      <hr />

      <!-- Historial del coche -->
      <div class="coche-historial mt-3">
        <div class="row">
          <div class="col-4"><h3>Historial</h3></div>
          <div class="col-8">
            <h5>
              Kilometraje <strong>{{ coche.kilometraje }}</strong>
            </h5>
            <h5>
              Año <strong>{{ coche.anyo }}</strong>
            </h5>
            <h5>
              Garantía <strong>{{ coche.garantia }}</strong>
            </h5>
          </div>
        </div>
      </div>

      <hr />

      <!-- Descripción del coche -->
      <div class="coche-description mt-3">
        <div class="row">
          <div class="col-4"><h3>Descripción</h3></div>
          <div class="col-8">
            <h5>{{ coche.descripcion }}</h5>
          </div>
        </div>
      </div>

      <!-- Botones de acción -->
      <div class="botones-accion">
        <div class="col-12">
          <div class="coche-actions mt-3">
            <button
              class="btn btn-warning mr-3"
              [routerLink]="['/actualiza', id]"
              *ngIf="estaLogueado()"
            >
              Editar
            </button>
            <button
              class="btn btn-danger"
              (click)="eliminarCoche(id)"
              *ngIf="estaLogueado()"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
