body {
  background-color: #f4f4f4;
}

.titulo {
  text-align: center;
  padding: 30px;
}

.container {
  background-color: white;
  padding: 50px;
  border: 1px solid #ccc;
}

/* Datos principales debajo de imagen */
.coche-details {
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 10px;
  width: 65%;
  border: 1px solid #f4f4f4;
}

.spec-item {
  margin-bottom: 20px;
}

/* Marca y modelo */
.coche-marca {
  margin-top: 30px;
}

.coche-image {
  position: relative;
}

/* Imagen principal del coche */
.coche-imagen {
  width: 100%;
  border-radius: 10px;
  height: auto;
}

/* Precio de coche */
.coche-price {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Sección de datos básicos */
.coche-datos-basicos {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Sección de historial */
.coche-historial {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Sección de descripción */
.coche-description {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Botones de editar y eliminar (Admin) */
.botones button {
  margin-top: 30px;
  margin-right: 10px;
  width: 100%;
}

.botones-accion button {
  margin-right: 20px;
}

/* Botón para cerrar formulario de contacto */
#cerrarFormulario {
  width: 40px;
  height: 32px;
}

/* Botones de favoritos y compartir */
.accion-link {
  text-decoration: none;
  border: none; /* Eliminamos los bordes */
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.accion-link:hover {
  color: white;
}

.acciones .accion-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.acciones .accion-link:hover {
  color: white;
}

.acciones .accion-link i {
  margin-right: 8px;
  transition: transform 0.3s;
}

.acciones .accion-link.aniadir i {
  transform: scale(1.2);
}

.acciones .accion-link.eliminar i {
  transform: scale(0.8);
}

.accion-link p {
  margin: 0; /* Eliminamos el margen del párrafo */
  display: inline; /* Alineamos el texto en línea */
}

/* Estilos para la ventana de compartir */
.ventana-compartir {
  position: relative;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.ventana-compartir input {
  width: calc(
    100% - 40px
  ); /* Ancho del campo de texto menos el ancho de los botones */
  margin-bottom: 10px;
}

/* Estilos para los botones de compartir */
.ventana-compartir button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  margin-right: 5px;
}

/* Estilos específicos para los iconos de redes sociales */
.ventana-compartir .btn-whatsapp {
  color: #25d366; /* Color verde de WhatsApp */
}

.ventana-compartir .btn-facebook {
  color: #3b5998; /* Color azul de Facebook */
}

.ventana-compartir .btn-email {
  color: #ff4500; /* Color naranja de Email */
}

.ventana-compartir .btn-cerrar {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #000000; /* Color gris oscuro */
}

/* Flechas */
.arrow-button {
  position: absolute;
  top: 50%;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.arrow-button.left {
  left: 0;
}

.arrow-button.right {
  right: 0;
}

/* Fondo más oscuro al poner el ratón encima */
.arrow-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Tamaño del ícono */
.arrow-button i {
  font-size: 30px;
}

/* Media queries */
@media screen and (max-width: 850px) {
  .col-8 {
    width: 100%;
  }

  .datos-principales {
    width: 100%;
    margin-top: 20px;
  }

  .coche-image {
    width: 100%; /* Aseguramos que ocupe el 100% */
    margin: 0; /* Eliminamos el margen */
  }
}
